In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from io import StringIO
from sklearn.linear_model import LinearRegression
from pycaret.regression import *
print('Completed import lib')

Completed import lib

In [2]:
df = pd.read_csv('test1_pycaret.csv')
df.drop(columns='Unnamed: 0', inplace=True)
df

,emp_title,verified_income,loan_purpose,grade,sub_grade,loan_status,initial_listing_status,disbursement_method,annual_income,debt_to_income,annual_income_joint,debt_to_income_joint,earliest_credit_line,inquiries_last_12m,total_credit_limit,accounts_opened_24m,total_debit_limit,term,num_mort_accounts,account_never_delinq_percent,installment,interest_rate
0,3298,1,1,3,13,1,1,1,90000.0,18.01,127914.571244,19.979304,2001,6,70795,5,11100,60,1,92.9,652.53,14.07
1,4567,2,2,3,11,1,1,1,40000.0,5.04,127914.571244,19.979304,1996,1,28800,11,16500,36,0,100.0,167.54,12.61
2,197,3,3,4,16,1,2,1,40000.0,21.15,127914.571244,19.979304,2006,4,24193,13,4300,36,0,93.5,71.40,17.09
3,3081,2,2,1,3,1,1,1,30000.0,10.16,127914.571244,19.979304,2007,0,25400,1,19400,36,0,100.0,664.19,6.72
4,3249,1,4,3,13,1,1,1,35000.0,57.96,57000.000000,37.660000,2008,7,69839,6,32700,36,0,100.0,786.87,14.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,4391,3,3,1,4,1,1,1,108000.0,22.28,127914.571244,19.979304,2008,5,199195,8,44600,36,1,100.0,744.90,7.35
9996,88,1,2,4,18,1,1,1,121000.0,32.38,127914.571244,19.979304,1994,1,382061,0,28200,36,2,82.1,366.72,19.03
9997,1807,1,2,5,22,1,2,1,67000.0,45.26,107000.000000,29.570000,2004,0,346402,4,14900,36,2,72.2,1175.10,23.88
9998,1772,3,3,1,1,1,1,1,80000.0,11.99,127914.571244,19.979304,1999,1,294475,2,46000,36,6,100.0,722.76,5.32
9999,1263,2,4,2,9,1,1,1,66000.0,20.82,127914.571244,19.979304,2005,0,91887,4,36800,36,0,100.0,418.52,10.91

In [3]:
reg = setup(data=df,target='interest_rate')

In [4]:
reg1 = compare_models()

In [5]:
df_perdi = predict_model(reg1, data = df)
df_perdi

,emp_title,verified_income,loan_purpose,grade,sub_grade,loan_status,initial_listing_status,disbursement_method,annual_income,debt_to_income,...,inquiries_last_12m,total_credit_limit,accounts_opened_24m,total_debit_limit,term,num_mort_accounts,account_never_delinq_percent,installment,interest_rate,Label
0,3298,1,1,3,13,1,1,1,90000.0,18.01,...,6,70795,5,11100,60,1,92.9,652.53,14.07,14.077220
1,4567,2,2,3,11,1,1,1,40000.0,5.04,...,1,28800,11,16500,36,0,100.0,167.54,12.61,12.616308
2,197,3,3,4,16,1,2,1,40000.0,21.15,...,4,24193,13,4300,36,0,93.5,71.40,17.09,17.242527
3,3081,2,2,1,3,1,1,1,30000.0,10.16,...,0,25400,1,19400,36,0,100.0,664.19,6.72,6.719788
4,3249,1,4,3,13,1,1,1,35000.0,57.96,...,7,69839,6,32700,36,0,100.0,786.87,14.07,14.073762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,4391,3,3,1,4,1,1,1,108000.0,22.28,...,5,199195,8,44600,36,1,100.0,744.90,7.35,7.348774
9996,88,1,2,4,18,1,1,1,121000.0,32.38,...,1,382061,0,28200,36,2,82.1,366.72,19.03,19.196699
9997,1807,1,2,5,22,1,2,1,67000.0,45.26,...,0,346402,4,14900,36,2,72.2,1175.10,23.88,23.860353
9998,1772,3,3,1,1,1,1,1,80000.0,11.99,...,1,294475,2,46000,36,6,100.0,722.76,5.32,5.326208
9999,1263,2,4,2,9,1,1,1,66000.0,20.82,...,0,91887,4,36800,36,0,100.0,418.52,10.91,10.904695

99% interest_rate có thể dự đoan bằng mô hình
The MSE of interest_rate and predicted value is :  0.0205
The MAE of interest_rate and predicted value is :  0.0368